@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital@0;1&family=Rubik:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: #1e3a8a;
}

html {
  font-size: 62.5%;
}

.quiz-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 7rem auto;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.heading {
  margin-bottom: 7rem;
  font-size: 4rem;
  font-weight: 700;
}
.question {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

label {
  font-size: 1.5rem;
  padding: 5px 0;
}

input {
  height: 15px;
  margin: 0px 7px;
}

.submit-btn {
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.output {
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}
